/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e1f50a;
}

/* Estilos para el encabezado */
header {
    background-color: #606306;
    color: #070707;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Estilos para los botones */
button {
    background-color: #b9cc10;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #515904;
}

/* Estilos para la sección de productos */
#productList {
    list-style: none;
    padding: 0;
}

#productList li {
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #8ae709;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




/* Estilos para la sección del carrito */
#cartList {
    list-style: none;
    padding: 0;
}

#cartList li {
    margin-bottom: 10px;
    background-color: #9a9a5f;
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#checkoutButton:hover {
    background-color: #2c2e1d;
}

/* Estilos para la ventana modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
   
    background-color:black;
    color: #b9cc10;
    text-align: center;
    margin-top: 20%;
    margin-left: 35%;
}





/* Estilos para el mensaje de éxito */
.success-message {
    display: none;
    background-color: #21ed28;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Agregar una animación de resaltado al botón */
#completePurchase {
    transition: background-color 0.3s ease, transform 0.3s ease;
}




/* Estilos para el pie de página */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}

